@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --font-sans: 'Google Sans Text', Inter, sans-serif;
  --font-display: 'Google Sans', Inter, sans-serif;
  --font-serif: 'Noto Serif', serif;
}

:root {
  --background: #f9f9f9;
  --foreground: #1f2937;
  /* gray-800 */
  --sidebar: rgb(243 243 238);
  /* gray-100 */
  --sidebar-foreground: #4b5563;
  /* gray-600 */
  --border: #e5e7eb;
}

.dark {
  --background: #191a1a;
  --foreground: #e5e7eb;
  /* gray-200 */
  --sidebar: #202222;
  --sidebar-foreground: #9ca3af;
  /* gray-400 */
  --border: #2d2d2d;
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}